.container {
  display: block;
}

.district {
	fill: #d3d3d3;
	stroke: white;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 40px;
}
.header {
  text-align: center;
}
h1{
  font-size: 3em;
  font-weight: 700;
  color: #0099FF;
}
a{
  color: #333399;
}
a:hover{
  color: #FF0099;
}
.nav-bottom {
  width: 100%;
  text-align: center;
}

svg {
  /*display: flex;
  flex-wrap: wrap;*/
  margin: 0 auto;
}
path{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
select {
  width: 25%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
}

text, p, h1, h2, h3, h4, h5, h6 {
	font-family: Arial;
}

/*
  tip
*/
div.tooltip {	
  position: absolute;			
  text-align: center;								
  padding: 2px;				
  font: 16px sans-serif;		
  background: lightsteelblue;		
  border-radius: 8px;
  color: #333399;	
}